.category-preview-container {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin-bottom: 30px;

	.category-title {
		font-size: 28px;
		cursor: pointer;
	}

	.preview {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
	}
}
