.category-preview-container {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin-bottom: 30px;

	.category-title {
		font-size: 28px;
		cursor: pointer;
	}

	.preview {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
	}
}

// Media Queries
@media screen and (max-width: 800px) {
	.category-preview-container {
		align-items: center;

		.preview {
			grid-template-columns: 1fr 1fr;
			column-gap: 15px;
			row-gap: 25px;
		}
	}
}
