.order-success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;

	.title {
		font-size: 2.5rem;
	}

	.text {
		font-weight: bold;
	}

	.small {
		font-style: italic;
		font-size: 14px;
	}
}
