.products-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	row-gap: 50px;
}

// Media Queries
@media screen and (max-width: 800px) {
	.products-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
		row-gap: 25px;
	}
}
