.category-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 50px;
}

.title {
	font-size: 38px;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
}

// Media Queries
@media screen and (max-width: 800px) {
	.category-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
		row-gap: 25px;
	}

	.title {
		margin-bottom: 20px;
	}
}
