.sign-up-container {
	display: flex;
	flex-direction: column;
	width: 380px;

	h2 {
		margin: 10px 0;
	}
}

// Media Queries
@media screen and (max-width: 425px) {
	.sign-up-container {
		max-width: 250px;

		Button {
			margin: auto;
		}
	}
}
